<style>

img.fotimg{
		margin:50px;		
	}

html, body, {
   width:100%;
   max-width: 100%;
   overflow-x:hidden;
}

h1.sec1t	{
			text-align: center;
			font-size:4rem;
			color:white;
		}

p.pbtn	{

		
		background-color:transparent;
		color:white;
		padding:0.25em;
		font-size:1em;

	}
button.but {
			background-color:transparent;
			border-radius:50px;
			border:0px solid;
			border-top:1px solid;
			border-bottom:1px solid;
	
		}

p.navp,ul.navt {
		font-size:1em;
		padding:0.5em;
		padding-bottom: 0em;	
		
	}
p.pbtn:hover,button.but:hover,button.but:active
		{
			background-color:#17202a;
		}

div.box {
		border-style:inset;
		border-width:medium;
		border-radius:5px;
		margin:2.5em;
		font-family:courier;
		padding:1.5em;
		border-left-color:#ccd1d1;
		border-top-color:#ccd1d1;
		border-right-color:#e5e8e8;
		border-bottom-color:#e5e8e8;

	}
button.lbut{
		background-color:transparent;
		border:0px solid;
		border-bottom:1px solid;
		color:black;
	}
img.wimg{
		width:100%;
		height:90rem;
		background-size:cover; 
		margin-left:0px;
		padding:0;

		
	}

li.limit{
		width:50rem;	
		margin-top:6em;
		margin-left:20rem;

	}
p.head {
		font-size:3em;
		margin-left:1.5em;
		margin-bottom:1em;

	}
p.shead{	
		margin-top:1em;
		font-size:2em;
		margin-left:2.5em;	
	}
p.ch{
		font-size:1.5em;
		margin-left:3.2em;
	}
img.sec3img{	
		margin-left:0.5em;
		width:100%;
		height:60em; 	
		}
div.caption{
			font-size:1.5em;
		
	}
input.limit,label.limt {
			width:50%;
			margin-top:0.5em;
			border:0px solid;
			background-color:transparent;
			border-bottom:1px solid;	
			color:black;
			
			}
ul.limit{
		width:140rem;
		max-width: 100%;
	}
p.logins {
		font-size:2em;
		margin-left:40%;
		color:black;
	}
p.loginsi{
		font-size:2rem;
		
	}
hr.vertical{
		width:1px;
		height:100%;
		margin:0.5em;
	   }
div.sec32{

		max-width:50%;
		margin-top:30px;
	}

div.sec1btn {
		position:absolute;
		z-index:1;
		text-align:center;	

	}
p.qs	{
		font-size:200%;	

	}

img.ci {
		width:100%;
		height:80rem;
		background-position:center;
		text-align: center;
		justify-content: center;
		align-items: center;
		background-size: cover;
		display: flex; 
	}
p.s4p {

		font-size:5rem;
		text-align:center;
		margin:5rem;
		

	}
div.rh{
	height:50px;
	background-color:black;
		

	}

div.item{

	width:100%;
	}
</style>


